{% extends "user_profile/base.html" %}

{% block title %} List of users {% endblock %}

{% block content %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <h3> List of profiles </h3>
        {% for user_profile in user_profiles %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <a href="/profile/{{user_profile.id}}">{{user_profile.user.first_name}} </a> </h3>
                </div>
                <div class="panel-body">
                    <!-- Author -->
                    Profile ID: {{user_profile.id}}<br>
                    User ID: {{user_profile.user.id}}<br>
                    First name: {{user_profile.user.first_name}}<br>
                    Last name: {{user_profile.user.last_name}}<br>
                    Email: {{user_profile.user.email}}<br>
                    Location: {{user_profile.location}}<br>
                    Bio: {{user_profile.bio}}<br>
                    DOB: {{user_profile.birth_date}}<br>
                </div>
            </div>
        {% endfor %}

{% endblock %}